body {
  background-color: lightgray;
}

.main-div {
  display: flex;
}

.tool-div {
  background-color: aliceblue;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 5px;
  box-shadow: 10px 10px darkgray;
}

.stroke-div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.drawing-canvas {
  border: 2px solid black;
  box-shadow: 10px 10px darkgray;
}
